<section class="p-8 bg-gray-50">
    <div class="container mx-auto text-center">
        <!-- Title Section -->
        <div class="text-sm text-red-400 py-2">WHY CHOOSE US</div>
        <h2 class="text-3xl font-bold text-gray-800 mb-6">People choose us because we serve the best for everyone</h2>
        <!-- <p class="text-lg font-medium text-gray-600 mb-12"></p> -->

        <!-- Features Grid -->
        <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-12"> -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-12">
            <!-- Feature 1 -->
            <div class="col-span-1 flex items-center space-x-4 p-2 md:p-6 bg-white rounded-lg shadow-md text-start">
                <div class="mb-4">
                    <!-- Icon (Replace with actual icon if available) -->
                    <div class="hidden md:block p-3.5 bg-blue-200 rounded-md">
                        <mat-icon class="text-2xl text-blue-800">person</mat-icon>
                        <!-- <img class="text-2xl fa-solid fa-user bg-blue-800" height="25px" width="25px" src="https://png.pngtree.com/png-clipart/20191120/original/pngtree-outline-user-icon-png-image_5045523.jpg"/> -->
                    </div>
                    <!-- <img src="assets/icon1.svg" alt="Dedicated Project Manager" class="mx-auto w-12 h-12"> -->
                </div>
                <div>
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">Dedicated project manager</h3>
                    <p class="text-gray-600 text-sm">
                        With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.
                    </p>
                </div>
            </div>

            <!-- Feature 2 -->
            <div class="col-span-1 flex items-center space-x-4 p-2 md:p-6 bg-white rounded-lg shadow-md text-start">
                <div class="mb-4">
                    <!-- Icon (Replace with actual icon if available) -->
                    <div class="hidden md:block p-3.5 bg-red-200 rounded-md">
                        <mat-icon class="text-2xl text-red-800">content_copy</mat-icon>
                        <!-- <i class="text-2xl fa-regular fa-copy text-red-800"></i> -->
                    </div>
                </div>
                <div>
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">Organized tasks</h3>
                    <p class="text-gray-600 text-sm">
                        With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.
                    </p>
                </div>
            </div>

            <!-- Feature 3 -->
            <div class="col-span-1 flex items-center space-x-4 p-2 md:p-6 bg-white rounded-lg shadow-md text-start">
                <div class="mb-4">
                    <!-- Icon (Replace with actual icon if available) -->
                    <!-- <img src="assets/icon3.svg" alt="Easy Feedback Sharing" class="mx-auto w-12 h-12"> -->
                    <div class="hidden md:block p-3.5 bg-green-200 rounded-md">
                        <mat-icon class="text-2xl text-green-800">question_answer</mat-icon>
                        <!-- <i class="text-2xl fa-solid fa-comments text-green-800"></i> -->
                    </div>
                </div>
                <div>
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">Easy feedback sharing</h3>
                    <p class="text-gray-600 text-sm">
                        With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.
                    </p>
                </div>
            </div>

            <!-- Feature 4 -->
            <div class="col-span-1 flex items-center space-x-4 p-2 md:p-6 bg-white rounded-lg shadow-md text-start">
                <div class="mb-4">
                    <!-- Icon (Replace with actual icon if available) -->
                    <!-- <img src="assets/icon4.svg" alt="Never Miss Deadline" class="mx-auto w-12 h-12"> -->
                    <div class="hidden md:block p-3.5 bg-violet-200 rounded-md">
                        <mat-icon class="text-2xl text-violet-800">pie_chart</mat-icon>
                    </div>
                </div>
                <div>
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">Never miss deadline</h3>
                    <p class="text-gray-600 text-sm">
                        With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.
                    </p>
                </div>
            </div>
        </div>

        <!-- Call to Action -->
        <div class="flex flex-col justify-start items-start md:flex-row md:justify-between md:items-start mt-8">
            <div class="flex flex-col items-start">
                <p class="text-xl font-medium text-black mb-4">
                    Ready to launch your next project?
                </p>
                <p class="text-start pb-2 md:pb-0">With lots of unique blocks, you can easily build a page without
                    coding. Build your next landing page.
                </p>
            </div>
            <a href="#"
                class="inline-block bg-blue-600 text-white px-6 py-3 font-semibold text-lg rounded-lg hover:bg-blue-700 transition">
                Get started a project
            </a>

        </div>
    </div>

</section>