<footer class="bg-gray-900 py-12 px-8 text-white">
    <div class="container mx-auto">
        <div class="flex flex-col justify-start items-start md:flex-row md:justify-between md:items-start mt-8">
            <div class="flex flex-col items-start">
                <p class="text-xl font-medium text-white mb-4">
                    Ready to launch your next project?
                </p>
                <p class="text-start pb-2 md:pb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                </p>
            </div>
            <a href="#"
                class="inline-block bg-blue-600 text-white px-6 py-3 font-semibold text-lg rounded-lg hover:bg-blue-700 transition">
                Get started a project
            </a>

        </div>

        <!-- Footer Navigation and Links -->
        <div class="mt-16 grid grid-cols-2 md:grid-cols-5 gap-8 text-start">
            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Brainwave.io</h4>
                <p class="text-gray-500">With lots of unique blocks, you can easily build a page without coding. Build
                    your next landing page.</p>
                <div class="flex gap-4 py-4">
                    <!-- Twitter Icon -->
                     <div class="text-xl">X</div>
                     <!-- <mat-icon>X</mat-icon> -->
                    <!-- <i class="fa-brands fa-twitter"></i> -->
                    <!-- Facebook Icon -->
                     <mat-icon>facebook</mat-icon>
                    <!-- <i class="fa-brands fa-square-facebook"></i> -->
                    <!-- Instagram Icon -->
                     <mat-icon>photo_camera</mat-icon>
                    <!-- <i class="fa-brands fa-instagram"></i> -->
                    <!-- LinkedIn Icon -->
                     <mat-icon>linkedin</mat-icon>
                    <!-- <i class="fa-brands fa-linkedin"></i> -->
                </div>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Company</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">About us</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Contact us</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Careers</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Press</a></li>
                </ul>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Product</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Features</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Pricing</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">News</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Help desk</a></li>
                </ul>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Services</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Digital Marketing</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Content Writing</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">SEO for Business</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">UI Design</a></li>
                </ul>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Legal</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Privacy Policy</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Terms & Conditions</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Return Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>