<footer class="bg-gray-900 py-12 px-8 text-white">
    <div class="container mx-auto">
        <div class="flex flex-col justify-start items-start md:flex-row md:justify-between md:items-start mt-8">
            <div class="flex flex-col items-start">
                <p class="text-xl font-medium text-white mb-4">
                    Ready to launch your next project?
                </p>
                <p class="text-start pb-2 md:pb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                </p>
            </div>
            <a href="#"
                class="inline-block bg-blue-600 text-white px-6 py-3 font-semibold text-lg rounded-lg hover:bg-blue-700 transition">
                Get started a project
            </a>

        </div>

        <!-- Footer Navigation and Links -->
        <div class="mt-16 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-8 text-start">
            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Navidia.com</h4>
                <p class="text-gray-400 hover:text-gray-100 transition">With lots of unique blocks, you can easily build a page without coding. Build
                    your next landing page.</p>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Connect</h4>
                <div class="flex flex-col space-y-2">
                    <div class="text-gray-400 hover:text-gray-100 transition">Twitter / X</div>
                    <div class="text-gray-400 hover:text-gray-100 transition">Facebook</div>
                    <div class="text-gray-400 hover:text-gray-100 transition">Instagram</div>
                    <div class="text-gray-400 hover:text-gray-100 transition">LinkedIn</div>
               </div>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Company</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">About us</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Contact us</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Careers</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Press</a></li>
                </ul>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Product</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Features</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Pricing</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">News</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Help desk</a></li>
                </ul>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Services</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Digital Marketing</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Content Writing</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">SEO for Business</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">UI Design</a></li>
                </ul>
            </div>

            <div>
                <h4 class="font-semibold text-gray-300 mb-4">Legal</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Privacy Policy</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Terms & Conditions</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-gray-100 transition">Return Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>