<section class="p-8 bg-white">
    <div class="container mx-auto text-center">
      <!-- Title -->
      <div class="text-sm text-red-400 py-2">OUR STORY</div>
      <div class="text-lg md:text-3xl text-gray-800 mb-6">We know how everything works and why your business is failing over and over again.</div>
      <!-- <p class="text-lg font-medium text-gray-600 mb-12"> </p> -->
  
      <!-- Image and description section -->
      <div class="flex flex-col items-center justify-center md:flex-row md:non  mb-12 space-y-6 md:space-y-0 md:space-x-8">
        <!-- Large Image -->
        <div class="w-full md:w-1/3">
          <img src="https://t4.ftcdn.net/jpg/03/83/25/83/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg" alt="Main Story Image" class="rounded-lg shadow-md w-full">
        </div>
  
        <!-- Small Image & Description -->
        <div class="w-full md:w-1/2 flex flex-col items-center md:items-start">
          <!-- Small images side by side -->
           <div class="hidden md:block ">
             <div class="flex items-start space-x-10 mb-6">
               <img src="https://storage.needpix.com/rsynced_images/man-388104_1280.jpg" alt="Person Image 1" class="w-64 h-64 rounded-lg shadow-md">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQao4gtNUPfkO2enJ9OjcbrpQR4qeF4DOzQ-g&s" alt="Person Image 2" class="w-24 h-24 rounded-lg shadow-md">
             </div>
           </div>
          <!-- Story description -->
          <p class="text-gray-600 text-base text-center md:text-left">
            We share common trends and strategies for improving your rental income and making sure you stay in high demand. 
            With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
          </p>
        </div>
      </div>
  
      <!-- Facts Section -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Fact 1 -->
        <div class="p-6 text-center">
          <h3 class="text-4xl font-bold text-gray-800 mb-2">1M+</h3>
          <p class="text-gray-600">Customers visit Omega every month to get their service done.</p>
        </div>
        
        <!-- Fact 2 -->
        <div class="p-6 text-center">
          <h3 class="text-4xl font-bold text-gray-800 mb-2">92%</h3>
          <p class="text-gray-600">Satisfaction rate comes from our awesome customers.</p>
        </div>
  
        <!-- Fact 3 -->
        <div class="p-6 text-center">
          <h3 class="text-4xl font-bold text-gray-800 mb-2">4.9/5.0</h3>
          <p class="text-gray-600">Average customer ratings we have got all over the internet.</p>
        </div>
      </div>
    </div>
  </section>
  