<div class="flex flex-col md:flex-row md:justify-between items-center bg-gray-50 p-8 rounded-lg">
    <!-- Left Section (Text content) -->
    <div class="max-w-lg">
      <div class="text-sm text-red-400 py-2">Let's Shift Your Business</div>
      <!-- <h4 class="text-red-600 text-sm font-semibold uppercase mb-2">Let's Shift Your Business</h4> -->
      <div class="text-lg md:text-3xl text-gray-800 mb-4">Shift your business fast with Shade Pro.</div>
      <p class="text-gray-600 mb-6 pb-3">
        With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website
        within few minutes.
      </p>
      <a href="#"
        class="inline-block bg-blue-600 text-white px-6 py-3 font-semibold text-lg rounded-lg hover:bg-blue-700 transition">
        Get started a project
      </a>
    </div>
  
    <!-- Right Section (Image) -->
    <div class="relative hidden md:block">
      <!-- <div class="absolute top-0 left-0 h-16 w-16 rounded-full bg-white border-4 border-dotted border-black"></div> -->
      <img class="h-[300px] w-[300px] object-cover rounded-full shadow-lg pt-4 md:pt-0" src="https://media.istockphoto.com/id/1365436662/photo/successful-partnership.jpg?s=612x612&w=0&k=20&c=B1xspe9Q5WMsLc7Hc9clR8MWUL4bsK1MfUdDNVNR2Xg=" alt="Hero Image" width="300" height="300" />
    </div>
  </div>
  